@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"style="background-image: url('../../Content/Image/datenight.jpg'); background-size: 100% 100%;">
    <h1 class="text-bottom">Parents Date Night</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<br />
<h3>Welcome Parents!!! Ready for date night? Click below to Register</h3>
<br />

<p><a href="https://localhost:44371/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>



<div class="row">
    <div class="col-md-10">
        <h5>
            Sometimes it's hard to get away, but you need that quality time with your spouse and to get away from the kids, just for a little while.  Here at Parents Date Night, we also offer sitters, register and check them out.  Also check out testimonials from other parents by clicking the 'Magic' tab.  ENJOY!!!
        </h5>
    </div>
</div>
    
<script type="text/javascript">
            function add_chatinline() { var hccid = 59037510; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
            add_chatinline();</script>